@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.title {
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}